<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login to your private profile</title>
 <link rel="stylesheet" type="text/css" media="all"  
      href="../../resources/css/css.css" th:href="@{/resources/css/css.css}" /> 
</head>
<body>
<h1>LOG IN</h1>
<!--  <form th:action="@{/profile}" th:object="${profile}" method="post">
	<p>User name:<input type="text" th:field="*{userName}"/></p>
	<p>Password:<input type="text" th:field="*{password}"/></p>
	<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form> -->
<form th:action="@{/profile}" th:object="${userForm}" method="POST">
	<p>User name:<input type="text" th:field="*{userName}" /></p>
	<p>Password:<input type="text"  th:field="*{password}"></p>
	<p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>